name: Docker Image CI

on:
  push:
    branches:
      - '**'  # Matches all branches
    tags:
      - '*'   # Matches all tags (used for releases)
  pull_request:
    branches:
      - '**'  # Matches all branches
  schedule:
    - cron: '0 13 * * 1'  # Scheduled to run at 13:00 every Monday (UTC)
  workflow_dispatch:  # Allows manual trigger

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - run: docker build . --file Dockerfile --tag jenkins:latest
    - name: Dockerize
      if: success()
      uses: manusa/actions-publish-docker@v1.1.2
      with:
        name: virtualflybrain/jenkins
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
